<div class="position-relative">
  <%= link_to :back, class:"back-button" do %>
    <i class="back fa-solid fa-arrow-left"></i>
  <% end %>

  <swiper-container navigation="false" pagination="true" scrollbar="false" effect="coverflow"
    style="--swiper-pagination-color: #fff;--swiper-pagination-bullet-inactive-color: #fff;">
    <% @dish.dish_photos.each do |dish_photo| %>
      <swiper-slide>
        <div class="card-dish" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path dish_photo.url %>)">
          <%= @dish.title %>
        </div>
      </swiper-slide>
    <% end %>
  </swiper-container>
</div>

<div class="card-show">
  <div class="darkone bg-dark text-white">
    <div class="card-header">
      Ingredients
    </div>
    <div class="container">
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p><%= @dish.description %></p>
          <p><%= @dish.description %></p>
          <p><%= @dish.description %></p>
        </blockquote>
      </div>
    </div>
  </div>
</div>
